DEBUG=True
SECRET_KEY=your_secret_key_here
DATABASE_URL=postgres://user:password@localhost:5432/tootapp
REDIS_URL=redis://localhost:6379/0
AT_USERNAME=your_africastalking_username
AT_API_KEY=your_africastalking_api_key

